.layout-contiainer {
    display: flex;
    flex-direction: row;
    position: relative;
}

.aside-section {
    flex: 1 0 20%;
    max-width: 15rem;
}

.main-section {
    flex: 1 0 80%;
}

.filters-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filters-header .clear-all-button {
    align-self: flex-end;
}

/* 
    small form factor 
    SLDS media query reference: https://www.lightningdesignsystem.com/design-tokens/#category-media-query
*/
@media only screen and (max-width: 47.9375em) {
    .layout-contiainer {
        flex-direction: column;
    }

    .aside-section {
        max-width: 100%;
    }
}
